{% extends "base.html" %}
{% block site_wrapper %}
{% load search_tags %} 
<div id="main">
  <a href="#content" class="skip_link">Skip to main content</a>
  <div id="banner">
    <div class="bannerIEPadder">
      <div class="cart_box">
        <a href = "http://localhost:8000/cart/">Cart</a>
      </div>
      Modern Musician
    </div>
  </div>
  <div id="navigation">
    <div class="navIEPadder">{% include 'tags/navigation.html' %}</div>
  </div>
  <div id="middle">
    <div id="sidebar">
      <div class="sidebarIEPadder">
        {% comment %} <form action="/search/" method="GET">
          <input type="text" name="q" placeholder="Search products..." />
          <button type="submit">Search</button>
        </form> {% endcomment %}
        {% search_box request %} 
        <br />
        {% include "tags/category_list.html" %}
       
      </div>
    </div>
    <div id="content" >
      <a name="content"></a>
      <div class="contentIEPadder">{% block content %}{% endblock %}</div>
    </div>
  </div>
  <div id="footer">
    <div class="footerIEPadder">[footer here]</div>
  </div>
</div>
{% endblock %}
